.myFile {
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   background-color: ivory;
   height: 40vh;
}
form
{
    align-items: center;
    background-color: ivory;
}